<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>GM Helper</title>

        <link rel="stylesheet" th:href="@{webjars/bootstrap/4.6.0/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/main.css}"/>
    </head>

    <body>
        <script type="text/javascript" th:src="@{webjars/jquery/3.5.1/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>

        <div th:include="fragments/header::header"></div>
        
        <main role="main" class="container">
            <div class="starter-template row">
                <div class="col-md-12">
                    <h1>Kreator Bohatera</h1>
                </div>      
            </div>

            <div class="character-race row">
                <div class="col-md-12">
                    <h2>1. Rasa</h2>
                    <table>
                        <tr>
                            <th>Rasa</th>
                            <th>Zwiększenie atrybutu</th>
                            <th>Rozmiar</th>
                            <th>Szybkość</th>
                            <th>Języki</th>
                        </tr>
                        <th:block th:each="race : ${races}">
                            <tr>
                                <td th:text="${race.raceName}"></td>
                                <td th:text="${race.attributeIncrease}"></td>
                                <td th:text="${race.size}"></td>
                                <td th:text="${race.speed}"></td>
                                <td th:text="${race.languages}"></td>
                            </tr>           
                        </th:block>
                    </table>
                    <br>
                </div>
            </div>

            <div class="character-race row">
                <div class="col-md-12">
                    <h2>2. Klasa</h2>
                    <table>
                        <tr>
                            <th>Klasa</th>
                            <th>Opis</th>
                            <th>KW</th>
                            <th>Główna cecha</th>
                            <th>BRO</th>
                            <th>Biegłości w broni i pancerzu</th>
                        </tr>
                        <th:block th:each="characterclass : ${characterclasses}">
                            <tr>
                                <td th:text="${characterclass.className}"></td>
                                <td th:text="${characterclass.description}"></td>
                                <td th:text="${characterclass.kw}"></td>
                                <td th:text="${characterclass.mainAttribute}"></td>
                                <td th:text="${characterclass.bro}"></td>
                                <td th:text="${characterclass.proficiency}"></td>
                            </tr>           
                        </th:block>
                    </table>
                    <br>
                </div>
            </div>

            <div class="character-attributes row" >
                <div class="col-md-12">
                    <h2>3. Cechy</h2>
                    <table>
                        <tr>
                            <th>Cecha</th>
                            <th>Mierzy</th>
                            <th>Ważna dla</th>
                            <th>Umiejętności</th>
                            <th>Opis</th>
                        </tr>
                        <th:block th:each="attribute : ${attributes}">
                            <tr>
                                <td th:text="${attribute.attributeName}"></td>
                                <td>
                                    <th:block th:each="attributeMeasure : ${attribute.attributeMeasures}">
                                        <p th:text="${attributeMeasure}"></p>
                                    </th:block>
                                </td>
                                <td>
                                    <th:block th:each="importantFor : ${attribute.importantFor}">
                                        <p th:text="${importantFor}"></p>
                                    </th:block>
                                </td>
                                <td>
                                    <th:block th:each="skill : ${attribute.skills}">
                                        <p th:text="${skill.skillName}"></p>
                                    </th:block>
                                </td>
                                <td th:text="${attribute.description}"></td>
                            </tr>           
                        </th:block>
                    </table>
                    <br>
                </div>
            </div>      
      
        </main>

    </body>

</html>