<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>GM Helper</title>

        <link rel="stylesheet" th:href="@{webjars/bootstrap/4.6.0/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/main.css}"/>
    </head>

    <body>
        <script type="text/javascript" th:src="@{webjars/jquery/3.5.1/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>

        <div th:include="fragments/header::header"></div>
        
        <main role="main" class="container">
            <div class="starter-template">
                <h1>GM Helper</h1>
                <h2>This is character creation page</h2>
            </div>

            <table>
                <tr>
                    <th>Nazwa</th>
                    <th>Opis</th>
                    <th>Umiejętności</th>
                </tr>
                <th:block th:each="attribute : ${attributes}">
                    <tr>
                        <td th:text="${attribute.attributeName}"></td>
                        <td th:text="${attribute.description}"></td>
                        <td>
                            <th:block th:each="skill : ${attribute.skills}">
                                <p th:text="${skill.skillName}"></p>
                            </th:block>
                        </td>
                    </tr>           
                </th:block>
            </table>

            <br>
            
        </main>

    </body>

</html>