<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>GM Helper</title>

        <link rel="stylesheet" th:href="@{webjars/bootstrap/4.6.0/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/main.css}"/>
    </head>

    <body>
        <div th:include="fragments/header::header"></div>
        
        <main role="main" class="container">
            <div class="starter-template">
                <h1>GM Helper</h1>
                <h2>
                    This is shop page
                </h2>
            </div>

        </main>

        <script type="text/javascript" th:src="@{webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>
    </body>

</html>