body {
  	padding-top: 5rem;
  	background-image: url("../images/image1.jpg");
  	background-repeat: no-repeat;
  	background-attachment: fixed;
}
.starter-template {
  	padding: 1rem 1.5rem;
 	text-align: center;
  	background-color: white;
}

.character-attributes, .character-race {
  	padding: 1rem 1.5rem;
  	text-align: center;
  	background-color: white;
}

table, th, td {
  	border: 1px solid black;
}

#rollResult {
  	text-align: center;
	font-size: xxx-large;
}