body {
  padding-top: 5rem;
}
.starter-template {
  padding: 1rem 1.5rem;
  text-align: center;
}

h1{
    color:#0000FF;
}

h2{
    color:#FF0000;
}

.colorA {
	color: blueviolet;
	font-weight: bold;
}

table, th, td {
  border: 1px solid black;
}