<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <head>
  </head>

  <body>
    <div th:fragment="header">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="/" th:text="#{nav-home}"></a>
            <a class="navbar-brand" href="/charactercreation" th:text="#{nav-charactercreation}"></a>
            <a class="navbar-brand" href="/shop" th:text="#{nav-shop}"></a>
            <a class="navbar-brand" href="/randomtables" th:text="#{nav-randomtables}"></a>
            <a class="navbar-brand" href="/city" th:text="#{nav-city}"></a>
            <a class="navbar-brand" href="/wild" th:text="#{nav-wild}"></a>
            <a class="navbar-brand" href="/dungeon" th:text="#{nav-dungeon}"></a>
        </nav>
    </div>
  </body>

</html>